<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customer - List</title>

    <div th:replace="fragments/header :: header-css"/>

</head>

<body>
<div class="container-fluid mt-4">
    <div th:replace="fragments/header :: header"/>
    <div class="row justify-content-center mt-5">
        <div class="col-md-9">
            <div class="row mb-4">
                <div class="page-header col-md-8">
                    <h3 class="text-left">Customers</h3>
                </div>
                <div class="col-md-4 text-right mt-auto">
                    <a class="btn btn-primary btn-labeled" href="#"
                       th:href="@{'/customers/new'}" role="button">
                        <span class="btn-label"><i class="fas fa-plus"></i></span>Add Customer
                    </a>
                </div>
            </div>
            <div class="tab-content" id="pills-tabContent">
                <div class="tab-pane fade show active" id="pills-private" role="tabpanel" aria-labelledby="pills-private-tab">
                    <table class="table table-striped table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Telephone</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="customer : ${customers}">
                            <td th:text="${customer.id}"></td>
                            <td>
                                <a th:href="@{/customers/__${customer.id}__/show}" th:text="${customer}"></a>
                            </td>
                            <td th:text="${customer.telephoneNumber}"></td>
                            <td th:text="${customer.email}"></td>
                            <td class="action-links">
                                <a th:href="@{/customers/__${customer.id}__/show}" class="action-links" title="View" data-toggle="tooltip" style="margin-right: 7px"><i class="fas fa-external-link-alt"></i></a>
                                <a th:href="@{/customers/__${customer.id}__/edit}" class="action-links" title="Edit" data-toggle="tooltip" style="margin-right: 7px"><i class="far fa-edit"></i></a>
                                <a th:href="@{/customers/__${customer.id}__/remove}" class="action-links" title="Delete"
                                   data-toggle="tooltip"><i class="far fa-trash-alt"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>



        </div>
    </div>
</div>
</body>
</html>
