<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Customer - ' + ${customer}"></title>
    <div th:replace="fragments/header :: header-css"></div>
</head>
<body>
<div class="container-fluid mt-4">
    <div th:replace="fragments/header :: header"></div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">
            <div class="row mb-4">
                <div class="page-header col-md-6">
                    <h3 class="text-left">Customer Information</h3>
                </div>
                <div class="col-md-6 text-right mt-auto">
                    <a class="btn btn-labeled btn-primary" th:href="@{/customers/__${customer.id}__/edit}" role="button">
                        <span class="btn-label"><i class="far fa-edit"></i></span>Edit
                    </a>
                    <a class="btn btn-labeled btn-primary" th:href="@{/customers/__${customer.id}__/remove}" role="button">
                        <span class="btn-label"><i class="far fa-trash-alt"></i></span>Remove
                    </a>
                </div>
            </div>
            <table class="table table-striped mb-5" th:object="${customer}">
                    <tr>
                        <th>First Name</th>
                        <td th:text="*{firstName}"></td>
                    </tr>
                    <tr>
                        <th>Last Name</th>
                        <td th:text="*{lastName}"></td>
                    </tr>
                    <tr>
                        <th>Telephone</th>
                        <td th:text="*{telephoneNumber}"></td>
                    </tr>
                    <tr>
                        <th>Email</th>
                        <td th:text="*{email}"></td>
                    </tr>
                </table>

            <div class="row mb-2">
                <div class="page-header col-md-6">
                    <h3 class="text-left">Projects</h3>
                </div>
            </div>
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Project Name</th>
                    <th>Address</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(customer.projects)}">
                    <td colspan="4" class="text-center"> No Projects Available </td>
                </tr>
                <tr th:each="project : ${customer.projects}">
                    <td th:text="${project.id}"></td>
                    <td>
                      <a th:href="@{/projects/__${project.id}__/show}" th:text="${project.projectName}"></a>
                    </td>
                    <td th:text="${project.address}"></td>
                    <td class="action-links">
                        <a th:href="@{/projects/__${project.id}__/show}" class="action-links" title="View" data-toggle="tooltip" style="margin-right: 7px"><i class="fas fa-external-link-alt"></i></a>
                        <a th:href="@{/projects/__${project.id}__/edit}"class="action-links" title="Edit" data-toggle="tooltip" style="margin-right: 7px"><i class="far fa-edit"></i></a>
                        <a th:href="@{/projects/__${project.id}__/remove}"class="action-links" title="Delete" data-toggle="tooltip"><i class="far fa-trash-alt"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
