<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{projects.project(${project})}"></title>
    <th:block th:include="fragments/common :: header-css-script"></th:block>

    <link href="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/css/bootstrap4-toggle.min.css"
          rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.4.0/js/bootstrap4-toggle.min.js"></script>


</head>
<body>
<div class="container-fluid mt-4">
    <div th:replace="fragments/common :: menu-navbar"></div>
    <div class="row justify-content-center mt-5">
        <div class="col-md-8">

            <!--Alerts-->
            <div th:if="${success != null}" class="alert alert-success alert-dismissible fade show" role="alert">
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <th:block th:switch="${success}">
                    <div th:case="'Added'">
                        <span th:text="#{alert.project.add}"></span>
                    </div>
                    <div th:case="'Deleted'">
                        <span th:text="#{alert.project.delete}"></span>
                    </div>
                    <div th:case="'Updated'">
                        <span th:text="#{alert.project.update}"></span>
                    </div>
                </th:block>
            </div>

            <!--Table title and buttons-->
            <div class="row mb-4">
                <div class="page-header col-md-6">
                    <h3 class="text-left" th:text="#{projects.project_information}"></h3>
                </div>
                <div class="col-md-6 text-right mt-auto">
                    <a class="btn btn-labeled btn-primary" th:href="@{/projects/__${project.id}__/edit}" role="button">
                        <span class="btn-label"><i class="far fa-edit"></i></span>
                        <span th:text="#{button.update}"></span>
                    </a>

                    <!--Toogle status info-->
                    <span data-toggle="popover"
                          data-placement="top"
                          th:data-content="#{toggle.active.popover}">
                        <input type="checkbox" id="toggle-status"/>
                    </span>
                    <script>
                        $(function () {
                            $('#toggle-status').bootstrapToggle({
                                on: '[[#{project.toggle.active}]]',
                                off: '[[#{project.toggle.not_active}]]',
                                onstyle: 'success',
                                offstyle: 'danger',
                                height: 38,
                                width: 150
                            });

                            var active = [[${project.active}]];

                            if (active) {
                                $('#toggle-status').bootstrapToggle('on');
                            } else {
                                $('#toggle-status').bootstrapToggle('off');

                            }
                            $('#toggle-status').bootstrapToggle('disable');
                        })


                    </script>

                </div>
            </div>

            <!--Table list of Projects-->
            <table class="table table-striped mb-5" th:object="${project}">
                    <tr>
                        <th th:text="#{projects.project_name}"></th>
                        <td th:text="*{projectName}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{projects.customer}"></th>
                        <td th:text="*{customer}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{projects.street_address}"></th>
                        <td th:text="*{address.streetName}"></td>
                    </tr>
                    <tr>
                        <th th:text="#{projects.zip_code}"></th>
                        <td th:text="*{address.zipCode}"></td>
                    </tr>
                <tr>
                    <th th:text="#{projects.city}"></th>
                    <td th:text="*{address.city}"></td>
                </tr>
                </table>

            <!--Table title of Project Reports-->
            <div class="row mb-2">
                <div class="page-header col-md-6">
                    <h3 class="text-left" th:text="#{navbar.reports}"></h3>
                </div>
            </div>

            <!--Table list of Project Reports-->
            <table class="table table-hover table-sm">
                <thead>
                <tr>
                    <th>#</th>
                    <th th:text="#{reports.date}"></th>
                    <th th:text="#{reports.worker}"></th>
                    <th th:text="#{reports.hours}"></th>
                    <th th:text="#{reports.description}"></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr th:if="${#lists.isEmpty(project.reports)}">
                    <td colspan="6" class="text-center"><span th:text="#{reports.no_reports}"></span></td>
                </tr>
                <tr th:each="report : ${project.reports}">
                    <td th:text="${report.id}"></td>
                    <td th:text="${report.workDate}"></td>
                    <td th:text="${report.worker}"></td>
                    <td th:text="${report.totalHours}"></td>
                    <td th:text="${report.description}"></td>
                    <td class="action-links">
                        <a th:href="@{/reports/__${report.id}__/show}" class="action-links"
                           th:title="#{tooltips.show}" data-tooltip="tooltip" style="margin-right: 7px">
                            <i class="fas fa-external-link-alt"></i></a>
                        <a th:href="@{/reports/__${report.id}__/edit}" class="action-links"
                           th:title="#{tooltips.edit}" data-tooltip="tooltip" style="margin-right: 7px">
                            <i class="far fa-edit"></i></a>
                        <a class="action-links" href="#" th:title="#{tooltips.delete}" data-tooltip="tooltip"
                           data-toggle="modal"
                           data-target="#modal-warning"><i class="far fa-trash-alt"></i></a>
                    </td>

                    <!-- Modal delete-->
                    <div class="modal fade" id="modal-warning" tabindex="-1" role="dialog"
                         aria-labelledby="modal-warningg" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="modal-warningg" th:text="#{modal.title}"></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <p th:text="#{modal.body}"></p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal"
                                            th:text="#{modal.no}"></button>
                                    <a role="button" class="btn btn-primary" id="delete"
                                       th:href="@{/reports/__${report.id}__/remove}" th:text="#{modal.yes}"></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div th:replace="fragments/common :: footer"></div>
</div>
</body>
</html>
